.about {
  display: flex;
  flex-direction: column;
  background: white;

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 20px;

    &_column {
      display: flex;
      flex-direction: column;
      padding: 10rem 8rem;

      .about_container_list {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: start;
        color: black;
        width: 100%;

        & h3 {
          font-weight: 600;
          font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
          > span {
            color: #0a4fd5ff;
          }
        }
        &_row {
          display: flex;
          flex-direction: column;
          row-gap: 30px;

          &_piece {
            color: rgba(81, 81, 81, 1);
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            width: 100%;
            > p {
              font-size: 16px;
              font-weight: 400;
              line-height: 40px;
            }
          }
        }
      }
    }
    @media only screen and (max-width: 768px) {
      &_column {
        padding: 5rem 3rem !important;
      }
    }
  }
}
