.reset {
    display: flex;
    flex-direction: column;

    &_container {
        background: white;
        height: auto;
        padding: 100px 8rem;

        &_content {
            background: rgba(245, 247, 252, 1);
            width: 60%;
            height: auto;
            margin: 0 auto;
            border-radius: 8px;

            &_column {
                display: flex;
                flex-direction: column;
                padding: 80px;
                row-gap: 80px;

                &_title {
                    font-weight: 600;
                    font-size: 23px;
                    color: rgba(0, 21, 15, 1);
                    text-transform: capitalize;
                    >  h1 {
                        margin: 0;
                    }
                    > p {
                        font-weight: 400;
                        font-size: 16px;
                        color: rgba(69, 82, 91, 1);
                    }
                }
            

            > form {
                display: flex;
                flex-direction: column;
                row-gap: 32px;

                .reset_form {
                    display: flex;
                    flex-direction: column;
                    row-gap: 24px;

                    &_input {
                        display: flex;
                        flex-direction: column;
                        row-gap: 8px;
                    > label {
                        font-weight: 600;
                        font-size: 18px;
                    }
                    > input {
                        height: 56px;
                        border-radius: 8px;
                        border: 1px solid rgba(187, 194, 199, 1);
                        padding: 0 24px;
                        ::placeholder {
                            color: rgba(107, 119, 127, 1);
                        }
                    }
                }
                > button {
                    width: 100%;
                    height: 56px;
                    background-color: rgba(0, 208, 148, 1);
                    font-weight: 600;
                    margin: 0 auto;
                    border: none;
                    border-radius: 8px;
                }
            }
            > .reset_loginLink {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 8px;
                
                > img {
                    width: 24px;
                    height: 24px;
                }
                > span {
                    height: 24px;
                    font-weight: 400;
                    font-size: 16px;
                    color: rgba(69, 82, 91, 1);
                    > b {
                        color: #2764D9FF;
                    }
                }
            }
        }
    }
         
    }
    }

}
@media only screen and (min-width: 993px) and (max-width: 1199px) {
    .reset {
        &_container { 
            padding: 100px 4rem !important;

            &_content {
                width: 70% !important;

                &_column {
                    padding: 55px !important;
                    row-gap: 55px !important;
                    &_title {
                        font-size: 20px !important;
                    }
                }
            }
            }   
        }   
}
@media only screen and (max-width: 992px) {
    .reset {
        &_container { 
            padding: 100px 2rem !important;

            &_content {
                width: 60% !important;

                &_column {
                    padding: 40px !important;
                    row-gap: 40px !important;

                    &_title {
                        font-size: 20px !important;
                    }

                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .reset {
        &_container { 
            &_content {
             width: 80% !important;
            }
        }
    }
}