.page {
    display: flex;
    flex-direction: column;

    &_container {
        background: white;
        height: auto;
        padding: 100px 8rem;

        &_content {
            background: rgba(245, 247, 252, 1);
            width: 60%;
            height: auto;
            margin: 0 auto;
            border-radius: 8px;

            &_column {
                display: flex;
                flex-direction: column;
                padding: 80px;
                row-gap: 80px;

                &_title {
                    font-weight: 600;
                    font-size: 23px;
                    color: rgba(0, 21, 15, 1);
                    >  h1 {
                        margin: 0;
                        text-transform: capitalize;
                    }
                    > p {
                        font-weight: 400;
                        font-size: 16px;
                        color: rgba(69, 82, 91, 1);
                    }
                }
            > form {
                display: flex;
                flex-direction: column;
                row-gap: 32px;

                & .page_google {
                    display: flex;
                    flex-direction: column;
                    row-gap: 40px;

                    &_row {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        column-gap: 8px;
                        width: 100%;
                        height: 56px;
                        border: 1px solid rgba(187, 194, 199, 1);
                        background: rgba(255, 255, 255, 1);
                        border-radius: 8px;
                        > span {
                            cursor: pointer;
                            font-weight: 400;
                            font-size: 16px;
                            color: rgba(12, 38, 58, 1);
                            font-family: "open sans";
                        }
                    }
                &_line {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    column-gap: 8px;
                    &_item {
                        width: 50%;
                        border: 1px solid rgba(236, 239, 242, 1);
                    }
                    > span {
                        color: rgba(12, 38, 58, 1);
                        font-weight: 700;
                        font-size: 16px;
                    }
                }
            }
                .page_form {
                    display: flex;
                    flex-direction: column;
                    row-gap: 24px;

                    &_input {
                        display: flex;
                        flex-direction: column;
                        row-gap: 8px;
                    > label {
                        font-weight: 600;
                        font-size: 18px;
                    }
                    > input {
                        height: 56px;
                        border-radius: 8px;
                        border: 1px solid rgba(187, 194, 199, 1);
                        padding: 0 24px;
                        ::placeholder {
                            color: rgba(107, 119, 127, 1);
                        }
                    }
                }
                &_checkbox {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &_text {
                        display: flex;
                        align-items: center;
                        column-gap: 8px;
                       
                        > input {
                            width: 24px;
                            height: 24px;
                            cursor: pointer;
                        }
                        > span {
                            color: rgba(12, 38, 58, 1);
                            font-weight: 400;
                            font-size: 16px;
                        }
                    }
                    > span {
                        color: rgba(10, 79, 213, 1);
                        font-weight: 400;
                        font-size: 16px;
                        cursor: pointer;
                    }
                    
                }
               
            }
            .button {
                display: flex;
                flex-direction: column;
                row-gap: 24px;
            
            > button {
                width: 100%;
                height: 56px;
                background-color: rgba(0, 208, 148, 1);
                font-weight: 600;
                margin: 0 auto;
                border: none;
                border-radius: 8px;
            }
            > p {
                text-align: center;
                color: rgba(69, 82, 91, 1);
                font-weight: 400;
                font-size: 16px;
                > a {
                    color: rgba(10, 79, 213, 1);
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }
        }
    }
         
    }
    }

}
@media only screen and (min-width: 993px) and (max-width: 1199px) {
    .page {
        &_container { 
            padding: 100px 4rem !important;

            &_content {
                width: 70% !important;

                &_column {
                    padding: 55px !important;
                    row-gap: 55px !important;
                    &_title {
                        font-size: 20px !important;
                    }
                }
            }
            }   
        }   
}


@media only screen and (min-width: 651px) and (max-width: 992px) {
    .page {
        &_container { 
            padding: 100px 15px !important;

            &_content {
                max-width: 60% !important;

                &_column {
                    padding: 40px !important;
                    row-gap: 40px !important;

                    &_title {
                        font-size: 20px !important;
                    }

                }
            }
        }
    }
}
@media only screen and (min-width: 461px) and (max-width: 650px) {
    .page {
        &_container { 
            padding: 100px 15px !important;

            &_content {
                width: 90% !important;
                &_column {
                    padding: 40px !important;
                    row-gap: 40px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 460px) {
    .page {

        &_container { 
            padding: 31px 0 !important;

            &_content {
                width: 90% !important;
                &_column {
                    padding: 20px !important;
                    row-gap: 40px !important;
                    &_title {
                        text-align: center;
                        padding: 0 34px;
                        > h1 {
                            font-size: 25px;
                        }
                        > p {
                            font-size: 10px;
                            font-weight: 400;
                        }
                    }
                    form {
                        .page_google {
                            &_row {
                                background: rgba(245, 247, 252, 1);
                                font-family: 'open sans sans-serif';
                                width: 204px;
                                height: 35px;
                                margin: 0 auto;
                                > span {
                                    font-size: 10px;
                                    color: rgba(12, 38, 58, 1);
                                }
                            }
                            &_line {
                                display: flex;
                                &_item {
                                    color: rgba(171, 177, 182, 1);
                                }
                            }
                        }
                        .page_form {
                            &_input {
                                > input {
                                    height: 40px;
                                
                                }
                            }
                            &_checkbox {
                                > span {
                                    font-size: 12px !important;
                                }
                                &_text {
                                    > input {
                                        width: 18px !important;
                                        height: 18px !important;
                                        border: 1.5px rgba(197, 204, 209, 1);
                                        background: rgba(197, 204, 209, 1);
                                        border-radius: 4px;
                                    }
                                    > span {
                                        font-size: 12px !important;
                                    }
                                }
                            }
                        }
                        .button {
                            > button {
                                width: 100%;
                                height: 40px !important;
                                font-size: 15px !important;
                                color: rgba(12, 38, 58, 1);
                            }
                        
                        
                        > p {
                            font-size: 10px !important;
                            color: rgba(187, 194, 199, 1);
                            margin: 0 !important;
                            > a {
                                font-size: 10px !important;
                            }
                        }
                    }
                    }
                }
            }
        }
    }
}