.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    column-gap: 50px;

    > img {
        aspect-ratio: 16 / 9;
        height: 315px;
    }

    &_texture {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 30px;
        text-transform: capitalize;

        > h3 {
            font-weight: 600;
            // font-size: 40px;
            font-size: clamp(1rem, -0.875rem + 8.333vw, 2.0rem); //size between 1rem and 2.0rem
            margin: 0;
        }
        .feature_columns {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            &_row {
                display: flex;
                align-items: center;
                column-gap: 16px;

                &_item {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    > span {
                        font-weight: 600;
                        font-size: 24px;
                        color: rgba(255, 255, 255, 1);
                    }
                    > p {
                        font-weight: 400;
                        font-size: 16px;
                        color: rgba(255, 255, 255, 0.6);
                        margin: 0;
                    }
                }
            }
            &_button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 40px auto;
                background: rgba(0, 208, 148, 1);
                border-radius: 8px;
                width: 160px;
                height: 48px;
                > button {
                    color: rgba(12, 38, 58, 1);
                    font-weight: 600;
                    font-size: 16px;
                    background: none;
                    border: none;
                }
            }
        }
    }

}
@media only screen and (max-width: 460px) {
    .feature {
        padding: 0 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;

        > img {
            display: none;
        }
        &_texture {
            width: 100%;

            > h3 {
                display: none;
            }
            .feature_columns {
                row-gap: 40px;
                &_row {
                    display: flex;
                    flex-direction: column;
                    row-gap: 15px;

                    &_item {
                       
                        > span {
                            font-size: 17px;
                        }
                        > p {
                            font-size: 10px;
                        }
                    }
            }
            &_button {
                display: none;
            }
        }
        }
    }
}

@media screen and (min-width: 461px) and (max-width: 1099px) {
    .feature {
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 30px;

        > img {
            aspect-ratio: 3/2;
        }
        &_texture {
            width: 80%;
            row-gap: 45px;
            margin-top: 30px;

            // > h3 {
            //     font-size: 28px;
            // }
        }
    }
    
}

@media screen and (min-width: 1100px) and (max-width: 1250px) {
    .feature {
       
        &_texture {
            text-align: center;
           
            // > h3 {
            //     font-size: 30px;
            // }
            .feature_columns {
                &_row {
                    display: flex;
                    flex-direction: column;
                    row-gap: 15px;
            }
        }
    }
    
}
}
// @media screen and (min-width: 1251px) and (max-width: 1390px) {
//     .feature {
       
//         &_texture > h3 {
//             font-size: 35px;
//         }
//     }
    
// }

