.contact {
    display: flex;
    flex-direction: column;

    &_container {
        background: white;
        display: flex;
        justify-content: center;
        column-gap: 120px;
        height: auto;

        &_leftContent {
            display: flex;
            flex-direction: column;
            row-gap: 64px;
            width: 35%;
            > h4 {
                font-weight: 600;
                font-size: 32px;
                text-transform: capitalize;
                margin: 0;
                > b {
                    color: #0A4FD5FF;
                }
            }
            &_social_icons {
                display: flex;
                column-gap: 16px;
            }
            &_tel {
                display: flex;
                flex-direction: column;
                row-gap: 32px;

                &_piece {
                    display: flex;
                    column-gap: 32px;
                    
                    &_numbers {
                        display: flex;
                        flex-direction: column;
                        > a {
                            text-decoration: none;
                            font-weight: 600;
                            font-size: 16px;
                            color: rgba(107, 119, 127, 1);
                        }
                    }
                }
            }
        }
        &_rightContent {
            display: flex;
            flex-direction: column;
            row-gap: 24px;
            width: 65%;
            position: relative;
            
            > img {
                position: absolute;
                width: 100%;
                height: auto;
                top: -200px;
                rotate: 61.48deg;
                border-radius: 100px;
                opacity: 60%;
                border: 1px solid;
                border-image-source: linear-gradient(122.37deg, rgba(139, 230, 203, 0.29) 50.65%, rgba(0, 158, 113, 0.28) 83.74%);
                z-index: -1;

            }
            > form {
                width: 100%;
                display: flex;
                flex-direction: column;
                background: rgba(255, 255, 255, 1);
                row-gap: 8px;

                > label {
                    font-weight: 600;
                    font-size: 18px;
                    color: rgba(12, 38, 58, 1);
                }
                > input {
                    height: 60px;
                    display: flex;
                    align-items: center;
                    padding-left: 20px;
                    border-radius: 8px;
                    border: 1px solid rgba(230, 237, 251, 1);

                    ::placeholder {
                        color: rgba(230, 237, 251, 1);
                        font-weight: 400;
                        font-size: 16px;
                        font-family: "open sans";
                    }
                   
                }
                > textarea {
                    height: 160px;
                    padding: 18px 20px;
                    border-radius: 8px;
                    border: 1px solid rgba(230, 237, 251, 1);
                    
                    ::placeholder {
                        color: rgba(230, 237, 251, 1);
                        font-weight: 400;
                        font-size: 16px;
                        font-family: "open sans";
                    }
                }
                > button {
                    width: 100%;
                    height: 60px;
                    padding: 18px 40px;
                    border-radius: 8px;
                    background: rgba(0, 208, 148, 1);
                    font-weight: 600;
                    font-size: 16px;
                    border: none;
                    color: rgba(12, 38, 58, 1);
                }
            }
        }
    }
   
}

@media only screen and (max-width: 992px) {
    .contact {
        
    &_container {
        flex-direction: column;
        row-gap: 30px;

        &_leftContent {
            width: 100%;
            margin: 0 auto;
            align-items: center;
            &_tel {
                flex-direction: row;
                column-gap: 30px;
            }
        }
        &_rightContent {
            width: 100%;
            margin: 0 auto;
        }
    }
    }
}