.App {
  background-color: rgb(1, 22, 16);
  overflow: hidden;
  -webkit-overflow-scrolling: hidden;
}

.columns {
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: auto;
  flex: 1;
  height: auto;
  box-shadow: inset 0 35px 100px 50px rgb(1, 22, 16);
}

.container-spacing {
  padding: 6rem 11rem;
}
button:hover,
a:hover,
select:hover {
  color: orange !important;
  cursor: pointer !important;
}
.pages_title {
  background-color: rgba(0, 21, 15, 1);
  width: 100%;
  height: 259px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.pages_title > p {
  padding-left: 8rem;
  font-weight: 600;
  font-size: 48px;
  color: rgba(255, 255, 255, 1);
}

@media only screen and (min-width: 993px) and (max-width: 1380px) {
  .container-spacing {
    padding: 3rem 8rem !important;
  }
}
@media only screen and (max-width: 460px) {
  .container-spacing {
    padding: 25px !important;
  }
  .pages_title > p {
    padding-left: 25px !important;
  }
}
@media only screen and (min-width: 461px) and (max-width: 992px) {
  .container-spacing {
    padding: 3rem !important;
  }
  .pages_title {
    height: 200px;
  }
  .pages_title > p {
    padding-left: 3rem !important;
  }
}
